fastapi
uvicorn[standard]
pydantic
mcp
fitz
nicegui
fastmcp
google-generativeai
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
chromadb
pypdf2
pypdf
sentence-transformers
frontend
